@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gotham:wght@400;700&display=swap');
@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

body {
  font-family: 'Roboto', sans-serif;
  background-color: #F4F7F8;
}

:root {
  --sidebar: #FCFCFC; /* SecondaryColors.background_4 */
  --sidebar-foreground: #323E48; /* SecondaryColors.dark_gray */
  --sidebar-primary: #EB0029; /* PrimaryColors.red */
  --sidebar-primary-foreground: #FCFCFC; /* texto sobre primary */
  --sidebar-accent: #F4F7F8; /* SecondaryColors.background_2 */
  --sidebar-accent-foreground: #323E48; /* SecondaryColors.dark_gray */
  --sidebar-border: #CFD2D3; /* SecondaryColors.content_5 */
  --sidebar-ring: #EB0029; /* PrimaryColors.red */
}

.dark {
  --sidebar: #323E48; /* dark_gray */
  --sidebar-foreground: #F4F7F8; /* background_2 */
  --sidebar-primary: #EB0029;
  --sidebar-primary-foreground: #FCFCFC;
  --sidebar-accent: #323E48; /* dark_gray */
  --sidebar-accent-foreground: #F4F7F8;
  --sidebar-border: #7B868C; /* content_2 */
  --sidebar-ring: #EB0029;
}

@theme inline {
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

